<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="max-image-preview:large" />

    <title>
      Checkride AI &#8211; Our AI-powered instructor helps you master everything
      you need for the oral section of the FAA practical test.
    </title>
    <!-- Jetpack Open Graph Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Checkride AI" />
    <meta
      property="og:description"
      content="Our AI-powered instructor helps you master everything you need for the oral section of the FAA practical test."
    />
    <meta property="og:url" content="https://checkrideai.com/" />
    <meta property="og:site_name" content="Checkride AI" />
    <meta property="og:image" content="/assets/android-chrome-192x192.png" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:image:alt" content="" />
    <meta property="og:locale" content="en_US" />
    <!-- End Jetpack Open Graph Tags -->

    <link
      rel="search"
      type="application/opensearchdescription+xml"
      href="https://checkrideai.com/osd.xml"
      title="Checkride AI"
    />

    <meta name="application-name" content="Checkride AI" />
    <meta
      name="msapplication-window"
      content="width=device-width;height=device-height"
    />
    <meta
      name="msapplication-tooltip"
      content="Our AI-powered instructor helps you master everything you need for the oral section of the FAA practical test."
    />
    <meta
      name="description"
      content="Our AI-powered instructor helps you master everything you need for the oral section of the FAA practical test."
    />
    <link rel="stylesheet" href="/assets/index.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <script src="/assets/menu.js"></script>
  </head>
  <body>
    <div class="wp-site-blocks">
      <div
        class="wp-block-group is-layout-flow wp-block-group-is-layout-flow wp-container-8 is-position-sticky"
        style="
          padding-top: 20px;
          padding-right: 20px;
          padding-left: 20px;
          background-color: white;
          border-bottom: solid 1px gray;
        "
      >
        <header class="wp-block-template-part">
          <div
            class="wp-block-group alignfull gapless-group has-global-padding is-layout-constrained wp-block-group-is-layout-constrained"
            style="
              padding-top: var(--wp--preset--spacing--50);
              padding-right: var(--wp--preset--spacing--50);
              padding-bottom: var(--wp--preset--spacing--50);
              padding-left: var(--wp--preset--spacing--50);
            "
          >
            <div
              class="wp-block-group alignwide is-content-justification-space-between is-layout-flex wp-container-5 wp-block-group-is-layout-flex"
            >
              <div
                class="wp-block-group is-content-justification-left is-layout-flex wp-container-3 wp-block-group-is-layout-flex"
              >
                <h1 class="wp-block-site-title has-medium-font-size">
                  <a href="/" target="_self" rel="home" aria-current="page"
                    >Checkride AI</a
                  >
                </h1>

                <nav
                  class="has-small-font-size is-responsive items-justified-right wp-block-navigation has-small-font-size is-content-justification-right is-layout-flex wp-container-2 wp-block-navigation-is-layout-flex"
                  aria-label="Header navigation"
                  data-wp-interactive
                  data-wp-context='{"core":{"navigation":{"overlayOpenedBy":[],"type":"overlay","roleAttribute":"","ariaLabel":"Menu"}}}'
                >
                  <button
                    aria-haspopup="true"
                    aria-label="Open menu"
                    class="wp-block-navigation__responsive-container-open"
                    onClick="onMenuOpen(event)"
                    data-wp-on--click="actions.core.navigation.openMenuOnClick"
                    data-wp-on--keydown="actions.core.navigation.handleMenuKeydown"
                  >
                    <svg
                      width="24"
                      height="24"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      aria-hidden="true"
                      focusable="false"
                    >
                      <rect x="4" y="7.5" width="16" height="1.5" />
                      <rect x="4" y="15" width="16" height="1.5" />
                    </svg>
                  </button>
                  <div
                    class="wp-block-navigation__responsive-container"
                    id="responsive-nav"
                    tabindex="-1"
                  >
                    <div
                      class="wp-block-navigation__responsive-close"
                      tabindex="-1"
                    >
                      <div
                        aria-label=""
                        aria-modal=""
                        role=""
                        class="wp-block-navigation__responsive-dialog"
                      >
                        <button
                          aria-label="Close menu"
                          class="wp-block-navigation__responsive-container-close"
                          onclick="onMenuClose(event)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                            aria-hidden="true"
                            focusable="false"
                          >
                            <path
                              d="M13 11.8l6.1-6.3-1-1-6.1 6.2-6.1-6.2-1 1 6.1 6.3-6.5 6.7 1 1 6.5-6.6 6.5 6.6 1-1z"
                            ></path>
                          </svg>
                        </button>
                        <div
                          class="wp-block-navigation__responsive-container-content"
                          id="modal-1-content"
                        >
                          <ul
                            class="wp-block-navigation__container has-small-font-size is-responsive items-justified-right wp-block-navigation has-small-font-size"
                          >
                            <li
                              class="has-small-font-size wp-block-navigation-item wp-block-navigation-link"
                            >
                              <a
                                class="wp-block-navigation-item__content"
                                href="/"
                                ><span class="wp-block-navigation-item__label"
                                  >Home</span
                                ></a
                              >
                            </li>
                            <li
                              class="has-small-font-size wp-block-navigation-item wp-block-navigation-link"
                            >
                              <a
                                class="wp-block-navigation-item__content"
                                href="/blog/"
                                ><span class="wp-block-navigation-item__label"
                                  >Blog</span
                                ></a
                              >
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>

              <div
                class="wp-block-buttons is-layout-flex wp-block-buttons-is-layout-flex"
              >
                <div
                  class="wp-block-button has-custom-font-size has-small-font-size"
                >
                  <a
                    class="wp-block-button__link wp-element-button"
                    href="/sign-up/"
                    >Get now</a
                  >
                </div>
              </div>
            </div>
          </div>
        </header>
      </div>
      {{ content | safe }}
    </div>
  </body>
  <footer></footer>
</html>
